<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!-- {{ form.media }} -->
    <meta charset="UTF-8">
    <title>Grocery List</title>
    <style>
        table {
            border-collapse: collapse;
            width = 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>
<body>
    <h1>Grocery List</h1>
    <form method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <div class="form-group">
        <label for="{{ form.name.id_for_label }}">Item_name:</label>
        <input type="text" class="form-control" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" value="{{ form.name.value|default:'' }}" autocomplete="off">
        </div>

        {{ form.category.label }}: {{ form.category }}<br>
        {{ form.quantity.label }}: {{ form.quantity }} {{ form.unit }}<br>

        <div class="form-group">
            <label for="{{ form.price.id_for_label }}">Price:$</label>
            <input type="number" step="0.01" class="form-control" id="{{ form.price.id_for_label }}" name="{{ form.price.html_name }}" value="{{ form.price.value|default:'' }}" min="0" max="9999999.99">
        </div>

        <div class="form-group">
            <label for="{{ form.expiration_date.id_for_label }}">Expiration Date:</label>
            <input type="date" class="form-control" id="{{ form.expiration_date.id_for_label }}" name="{{ form.expiration_date.html_name }}" value="{{ form.expiration_date.value|default:'' }}">
        </div>
        <br>
        <button type="submit">Add Grocery</button>
        <br>
        <br>
    </form>

    <table>
        <caption style="font-weight: bold;">Category wise Summary & Totals</caption>
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Total Items</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for category, totals in category_totals.items %}
            <tr>
                <th>{{ category }}</th>
                <th>{{ totals.items }}</th>
                <th>{{ totals.price }}</th>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Grand Total:</th>
                <th>{{ total_items }}</th>
                <th>${{ total_price }}</th>
            </tr>
        </tfoot>
    </table>
    <br>
    <br>
    <table>
        <caption style="font-weight: bold;">List of Items purchased</caption>
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Price</th>
                <th>Expiry Date</th>
                <th>User Options</th>
            </tr>
        </thead>
        <tbody>
            {% for grocery in groceries %}
            <tr>
                <td>{{ grocery.name }}</td>
                <td>{{ grocery.get_category_display }}</td>
                <td>{{ grocery.quantity }}</td>
                <td>{{ grocery.get_unit_display }}</td>
                <td>${{ grocery.price }}</td>
                <td>{{ grocery.expiration_date }}</td>
                <td>
                    <a href="{% url 'grocery_detail' item_id=grocery.id %}">Details</a>
                    <a href="{% url 'grocery_edit' item_id=grocery.id %}">Edit</a>
                    <a href="{% url 'grocery_delete' item_id=grocery.id %}">Delete</a>
                    <!-- <form action="{% url 'grocery_delete' item_id=grocery.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form> -->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>